.detailsTitle {
  text-align: center;
}

.detailsCategory {
  margin-top: 50px;
  text-align: center;
}

.detailsArea {
  margin-top: 20px;
  text-align: center;
}

.detailsInstructionsHeader {
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}

.detailsInstructions {
  margin-top: 50px;
  font-size: 13px;
}

.detailsImageContainer {
  width: 270px;
  margin: 0px auto;
  margin-top: 50px;
}

.detailsImage {
  height: 270px;
  width: 270px;
}