.mealAreaItemContainer {
  min-height: 180px;
  width: 220px;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid #dfe0ec;
  // box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s;
}

.mealAreaItemContainer:hover {
  box-shadow: 0px 0px 10px #caccce;
}

.mealAreaItemLink {
  color: black;
}

.mealAreaItemLi {
  width: 220px;
  list-style-type: none;
}

.mealAreaItemCategory {
  text-align: center;
  padding-top: 25px;
  font-size: 14px;
  font-weight: 400;
}

.mealAreaItemImageContainer {
  padding-top: 20px;
  width: 160px;
  justify-content: center;
  margin: 0px auto !important;
}

.mealAreaItemImage {
  height: 100px;
  width: 160px;
}