.mealsContainer {
  display: flex;
  justify-content: space-around;
  // max-width: 1146px;
  margin: 0px auto;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.paginationControls {
  width: 270px;
  margin: 0px auto;
  margin-top: 20px;
  text-align: center;
}